doctype html
html
  head
    meta(charset="UTF-8")
    title Edições da Eurovisão
    link(rel="icon", href="favicon.png")
    link(rel="stylesheet", href="/w3.css")
  body
    .w3-card-4
      header.w3-container.w3-blue
        h1 Edições da Eurovisão
        p João Lobo (A104356) - Teste de Engenharia Web Época Normal 2025

      main.w3-container
        table.w3-table-all.w3-hoverable
          thead
            tr
              th ID da edição
              th Ano da edição
              th País organizador
              th País vencedor
          tbody
            each edicao in edicoes
              tr
                td
                  a(href=`/${edicao._id}`) #{edicao._id}
                td #{edicao.anoEdicao}
                td
                  a(href=`/paises/${encodeURIComponent(edicao.organizacao)}`) #{edicao.organizacao}
                td
                  if edicao.vencedor
                    a(href=`/paises/${encodeURIComponent(edicao.vencedor)}`) #{edicao.vencedor}
                  else
                    | (sem vencedor)
