doctype html
html
  head
    meta(charset="UTF-8")
    title #{pais} na Eurovisão
    link(rel="icon", href="favicon.png")
    link(rel="stylesheet", href="/w3.css")
  body
    header.w3-container.w3-blue
      h1 #{pais} na Eurovisão

    main.w3-container
      p
        a(href="/") ← Voltar à página principal

      h2 Edições Organizadas por #{pais}
      table.w3-table.w3-bordered.w3-striped
        thead
          tr
            th ID da Edição
            th Ano
        tbody
          each organizacao in organizacoes
            tr
              td 
                a(href=`/${organizacao.edicaoId}`) #{organizacao.edicaoId}
              td #{organizacao.ano}

      h2 Participações de #{pais}
      table.w3-table.w3-bordered.w3-striped
        thead
          tr
            th ID da Edição
            th Ano
            th Música
            th Intérprete
            th Venceu?
        tbody
          each participacao in participacoes
            tr
              td 
                a(href=`/${participacao.edicaoId}`) #{participacao.edicaoId}
              td #{participacao.ano}
              td #{participacao.musica}
              td #{participacao.interprete}
              td
                if participacao.venceu
                  span.w3-text-green Sim
                else
                  span.w3-text-red Não
